body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: #49000028;
}

li {
    background: #00000063;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    background-color: #49000028;
}